.bg-titan{
    background-color: aquamarine;
}       
.titan{
    background-color:rgb(168, 216, 246);
}
.btn-titan{
    background-color:#000000 !important;
    color:#FFF !important;
}
.bg-dark {
    --bs-text-opacity: 1;
    background-color:black!important;
  }
.text-white{
    --bs-text-opacity: 1;
    color: white;            
}
.text-center{
    text-align: center;
}
.py-5{
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.quick-links i{
    font-size:48px;
    margin-bottom:30px;
}

.presentation iframe{
    width: 100%;
    max-width: 856px;
    height: 518px;
}
       

/*
=================================================
HERO SECTION
=================================================
*/
.hero-section {
    background-color: aquamarine;
    background-image: url("img/sunset.jpeg");
    background-position: center;
    background-size: cover;
  }
                                